<!-- show_image.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}">
    <title>Show Image</title>
<style>
    body {
    background-color: #121212;
    color: #ffffff;
    background-image: url('../static/assets/wallpaper.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    /* Use 'cover' to make the image cover the entire body */
    background-position: top;
    font-family: Arial, sans-serif;
    margin-left:2px;
    width: 100%;
    min-height: 768px;
}
    </style>
    
</head>
<body>
    <h1>Here is your image:</h1>
    <p><a href="/show-text/">Show Text</a></p>
    <p><a href="/">Index</a></p>
    <div class="media-container">
    {% load static %}

    <img class ="media-item" src="{% static 'images/image.jpg' %}" alt="Image">
    <img class ="media-item" src="{% static 'images/title.jpg' %}" alt="Image">
</div>
</body>
</html>
